
 .main-header{
  z-index: 1;
  top: 120px;
  height: 400px;
  width: 100%;
   display: flex;
   flex-direction: column;
   justify-content: center;;
   align-items: center;
   background-color: #0098de;
   background-image: url("https://www.transparenttextures.com/patterns/3px-tile.png"); 
}

/*media queries*/
@media(min-width:1024px){
  .main-header{
    width: 26%;
    float:left;
    top: 150px;
    left: 70px;
  }
  .container{
    top:260px;
    left: 35%;
    width: 60%;
    right: 70px;
  }
}
@media(max-width:1024px){
  .top-nav{
    background-color: #0098de;
    background-image: url("https://www.transparenttextures.com/patterns/3px-tile.png"); 
} 
}
